In [335]:
import numpy as np
import pandas as pd
from IPython.display import display

In [336]:
data=pd.read_csv('customers.csv')
data.drop(['Region', 'Channel'], axis = 1, inplace = True)

# TODO: Select three indices of your choice you wish to sample from the dataset
indices = [3,100, 350]

# Create a DataFrame of the chosen samples
samples = pd.DataFrame(data.loc[indices], columns = data.keys()).reset_index(drop = True)
print "Chosen samples of wholesale customers dataset:"
display(samples)

Chosen samples of wholesale customers dataset:

   Fresh  Milk  Grocery  Frozen  Detergents_Paper  Delicatessen
0  13265  1196     4221    6404               507          1788
1  11594  7779    12144    3252              8035          3029
2   3521  1099     1997    1796               173           995

#  23/02/2017

In [338]:
log_data=np.log(data)
log_samples=np.log(samples)

In [387]:
log_data=np.log(data)
log_samples=np.log(samples)

outliers_master_list  = np.array([])

data_outliner=pd.DataFrame(data=np.zeros(log_data.shape), columns=log_data.keys()).astype(np.int8)


# For each feature find the data points with extreme high or low values
for feature in log_data.keys():
    
    # Calculate Q1 (25th percentile of the data) for the given feature
    Q1 = np.percentile(log_data[feature], 25)
    
    # Calculate Q3 (75th percentile of the data) for the given feature
    Q3 = np.percentile(log_data[feature], 75)
    
    # Use the interquartile range to calculate an outlier step (1.5 times the interquartile range)
    step = 1.5*(Q3-Q1)
    
    # Display the outliers
    print "Data points considered outliers for the feature '{}':".format(feature)
#     display(log_data[~((log_data[feature] >= Q1 - step) & (log_data[feature] <= Q3 + step))].index)

    feature_outliner_index=log_data[~((log_data[feature] >= Q1 - step) & (log_data[feature] <= Q3 + step))].index
    data_outliner.loc[feature_outliner_index, feature]=1
    
    # at the loop for each feature, consolidate the identified indices for the outliners 
    outliers_master_list=np.int16(np.union1d(outliers_master_list, feature_outliner_index.values))

data_outliner['outliner_feature_count']=data_outliner.sum(axis=1)

display(data_outliner[data_outliner.outliner_feature_count>1])
display(data[data_outliner.outliner_feature_count>1])
display(log_data[data_outliner.outliner_feature_count>1])
    
# data_zeros.outliner_feature_count.sort_values(ascending=False)

# print(len(outliers))
# print(log_data.shape)

# good_data = log_data.drop(log_data.index[outliers]).reset_index(drop = True)
# print(good_data.shape)

Data points considered outliers for the feature 'Fresh':
Data points considered outliers for the feature 'Milk':
Data points considered outliers for the feature 'Grocery':
Data points considered outliers for the feature 'Frozen':
Data points considered outliers for the feature 'Detergents_Paper':
Data points considered outliers for the feature 'Delicatessen':

,Fresh,Milk,Grocery,Frozen,Detergents_Paper,Delicatessen,outliner_feature_count
65,1,0,0,1,0,0,2
66,1,0,0,0,0,1,2
75,0,0,1,0,1,0,2
128,1,0,0,0,0,1,2
154,0,1,1,0,0,1,3

     Fresh   Milk  Grocery  Frozen  Detergents_Paper  Delicatessen
65      85  20959    45828      36             24231          1423
66       9   1534     7417     175              3468            27
75   20398   1137        3    4407                 3           975
128    140   8847     3823     142              1062             3
154    622     55      137      75                 7             8

        Fresh      Milk    Grocery    Frozen  Detergents_Paper  Delicatessen
65   4.442651  9.950323  10.732651  3.583519         10.095388      7.260523
66   2.197225  7.335634   8.911530  5.164786          8.151333      3.295837
75   9.923192  7.036148   1.098612  8.390949          1.098612      6.882437
128  4.941642  9.087834   8.248791  4.955827          6.967909      1.098612
154  6.432940  4.007333   4.919981  4.317488          1.945910      2.079442

In [392]:
q1g=np.percentile(log_data['Grocery'], 25)
q3g=np.percentile(log_data['Grocery'], 75)
gs=1.5*(q3g-q1g)

In [401]:
log_data=np.log(data)
log_samples=np.log(samples)

outliers_master_list  = np.array([])

data_outliner=pd.DataFrame(data=np.zeros(log_data.shape), columns=log_data.keys()).astype(np.int8)


# For each feature find the data points with extreme high or low values
for feature in log_data.keys():
    
    # Calculate Q1 (25th percentile of the data) for the given feature
    Q1 = np.percentile(data[feature], 25)
    
    # Calculate Q3 (75th percentile of the data) for the given feature
    Q3 = np.percentile(data[feature], 75)
    
    # Use the interquartile range to calculate an outlier step (1.5 times the interquartile range)
    step = 1.5*(Q3-Q1)
    
    # Display the outliers
#     print "Data points considered outliers for the feature '{}':".format(feature)
#     display(log_data[~((log_data[feature] >= Q1 - step) & (log_data[feature] <= Q3 + step))].index)

    feature_outliner_index=data[~((data[feature] >= Q1 - step) & (data[feature] <= Q3 + step))].index
    data_outliner.loc[feature_outliner_index, feature]=1
    
    # at the loop for each feature, consolidate the identified indices for the outliners 
    outliers_master_list=np.int16(np.union1d(outliers_master_list, feature_outliner_index.values))

data_outliner['outliner_feature_count']=data_outliner.sum(axis=1)

display(data_outliner[data_outliner.outliner_feature_count>3])
display(data[data_outliner.outliner_feature_count>3])
display(log_data[data_outliner.outliner_feature_count>3])

,Fresh,Milk,Grocery,Frozen,Detergents_Paper,Delicatessen,outliner_feature_count
47,1,1,1,1,1,1,6
92,0,1,1,0,1,1,4
181,1,1,0,1,0,1,4
251,0,1,1,0,1,1,4

      Fresh   Milk  Grocery  Frozen  Detergents_Paper  Delicatessen
47    44466  54259    55571    7782             24171          6465
92     9198  27472    32034    3232             18906          5130
181  112151  29627    18148   16745              4948          8550
251    6134  23133    33586    6746             18594          5121

         Fresh       Milk    Grocery    Frozen  Detergents_Paper  Delicatessen
47   10.702480  10.901524  10.925417  8.959569         10.092909      8.774158
92    9.126741  10.220923  10.374553  8.080856          9.847235      8.542861
181  11.627601  10.296441   9.806316  9.725855          8.506739      9.053687
251   8.721602  10.049015  10.421865  8.816705          9.830594      8.541105

In [405]:
def outliner_identification(data, log_transform=True):
    data_outliner=pd.DataFrame(data=np.zeros(data.shape), columns=log_data.keys()).astype(np.int8)
    data_values=data.copy(deep=True)
    if log_transform: data_values=np.log(data)
    
    # For each feature find the data points with extreme high or low values
    for feature in data.keys():

        # Calculate Q1 (25th percentile of the data) for the given feature
        Q1 = np.percentile(data_values[feature], 25)

        # Calculate Q3 (75th percentile of the data) for the given feature
        Q3 = np.percentile(data_values[feature], 75)

        # Use the interquartile range to calculate an outlier step (1.5 times the interquartile range)
        step = 1.5*(Q3-Q1)

        # identify outliner index for a given feature
        feature_outliner_index=data[~((data_values[feature] >= Q1 - step) & (data_values[feature] <= Q3 + step))].index

        # change the value from zero to 1 for the corresponding cell in the dataframe to indicate outliner status
        data_outliner.loc[feature_outliner_index, feature]=1

    data_outliner['outliner_feature_count']=data_outliner.sum(axis=1)
    
    return data_outliner

In [409]:
data_outliner=outliner_identification(data, log_transform=False)
display(data_outliner[data_outliner.outliner_feature_count>=3])
display(data[data_outliner.outliner_feature_count>=3])

,Fresh,Milk,Grocery,Frozen,Detergents_Paper,Delicatessen,outliner_feature_count
28,0,1,1,0,0,1,3
47,1,1,1,1,1,1,6
49,0,1,1,0,1,0,3
56,0,1,1,0,1,0,3
61,0,1,1,0,1,0,3
65,0,1,1,0,1,0,3
85,0,1,1,0,1,0,3
86,0,1,1,0,1,0,3
92,0,1,1,0,1,1,4
145,0,0,1,0,1,1,3
163,0,1,1,0,1,0,3
181,1,1,0,1,0,1,4
183,0,1,0,1,0,1,3
211,0,1,1,0,1,0,3
216,0,1,1,0,1,0,3
251,0,1,1,0,1,1,4
325,0,1,0,1,0,1,3

      Fresh   Milk  Grocery  Frozen  Detergents_Paper  Delicatessen
28     4113  20484    25957    1158              8604          5206
47    44466  54259    55571    7782             24171          6465
49     4967  21412    28921    1798             13583          1163
56     4098  29892    26866    2616             17740          1340
61    35942  38369    59598    3254             26701          2017
65       85  20959    45828      36             24231          1423
85    16117  46197    92780    1026             40827          2944
86    22925  73498    32114     987             20070           903
92     9198  27472    32034    3232             18906          5130
145   22039   8384    34792      42             12591          4430
163    5531  15726    26870    2367             13726           446
181  112151  29627    18148   16745              4948          8550
183   36847  43950    20170   36534               239         47943
211   12119  28326    39694    4736             19410          2870
216    2532  16599    36486     179             13308           674
251    6134  23133    33586    6746             18594          5121
325   32717  16784    13626   60869              1272          5609

In [411]:
data_outliner=outliner_identification(data, log_transform=True)
display(data_outliner[data_outliner.outliner_feature_count>=2])
display(data[data_outliner.outliner_feature_count>=2])

,Fresh,Milk,Grocery,Frozen,Detergents_Paper,Delicatessen,outliner_feature_count
65,1,0,0,1,0,0,2
66,1,0,0,0,0,1,2
75,0,0,1,0,1,0,2
128,1,0,0,0,0,1,2
154,0,1,1,0,0,1,3

     Fresh   Milk  Grocery  Frozen  Detergents_Paper  Delicatessen
65      85  20959    45828      36             24231          1423
66       9   1534     7417     175              3468            27
75   20398   1137        3    4407                 3           975
128    140   8847     3823     142              1062             3
154    622     55      137      75                 7             8

In [422]:
print('')
print('hello')
print("\n"*5)
print('hello')

hello






hello

In [380]:
log_data[data_zeros.outliner_feature_count>1]

        Fresh      Milk    Grocery    Frozen  Detergents_Paper  Delicatessen
65   4.442651  9.950323  10.732651  3.583519         10.095388      7.260523
66   2.197225  7.335634   8.911530  5.164786          8.151333      3.295837
75   9.923192  7.036148   1.098612  8.390949          1.098612      6.882437
128  4.941642  9.087834   8.248791  4.955827          6.967909      1.098612
154  6.432940  4.007333   4.919981  4.317488          1.945910      2.079442

In [381]:
data[data_zeros.outliner_feature_count>1]

     Fresh   Milk  Grocery  Frozen  Detergents_Paper  Delicatessen
65      85  20959    45828      36             24231          1423
66       9   1534     7417     175              3468            27
75   20398   1137        3    4407                 3           975
128    140   8847     3823     142              1062             3
154    622     55      137      75                 7             8

In [382]:
data_zeros[data_zeros.outliner_feature_count>1]

,Fresh,Milk,Grocery,Frozen,Detergents_Paper,Delicatessen,outliner_feature_count
65,1,0,0,1,0,0,2
66,1,0,0,0,0,1,2
75,0,0,1,0,1,0,2
128,1,0,0,0,0,1,2
154,0,1,1,0,0,1,3

In [388]:
log_data.Grocery.describe()

count    440.000000
mean       8.441169
std        1.116172
min        1.098612
25%        7.674616
50%        8.467057
75%        9.273854
max       11.437986
Name: Grocery, dtype: float64

In [342]:
data.Fresh.describe()

count       440.000000
mean      12000.297727
std       12647.328865
min           3.000000
25%        3127.750000
50%        8504.000000
75%       16933.750000
max      112151.000000
Name: Fresh, dtype: float64

In [6]:
data.head(5)

   Fresh  Milk  Grocery  Frozen  Detergents_Paper  Delicatessen
0  12669  9656     7561     214              2674          1338
1   7057  9810     9568    1762              3293          1776
2   6353  8808     7684    2405              3516          7844
3  13265  1196     4221    6404               507          1788
4  22615  5410     7198    3915              1777          5185

In [316]:
from sklearn.cross_validation import train_test_split
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import r2_score

# Make a copy of the DataFrame, using the 'drop' function to drop the given feature
# label_name='Milk'
label_name='Detergents_Paper'
new_data = data.drop([label_name], axis=1)
milk=data[label_name]

#set random state value
# rnd=[0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

for i in xrange(1,20):
    # Split the data into training and testing sets using the given feature as the target
    X_train, X_test, y_train, y_test = train_test_split(new_data, milk, test_size=0.25, random_state=i)

    # Create a decision tree regressor and fit it to the training set
    regressor = DecisionTreeRegressor(random_state=0)
    regressor.fit(X_train,y_train)
    predict=regressor.predict(X_test)

    # Report the score of the prediction using the testing set
    score = r2_score(y_test,predict)
    print("r2_score is: {:.6f}".format(score))

    
    
# score = r2_score()

r2_score is: 0.763469
r2_score is: 0.471750
r2_score is: 0.738271
r2_score is: 0.687602
r2_score is: 0.742095
r2_score is: 0.618489
r2_score is: 0.721305
r2_score is: 0.641173
r2_score is: 0.628466
r2_score is: 0.541088
r2_score is: 0.819053
r2_score is: 0.844247
r2_score is: 0.657834
r2_score is: 0.665179
r2_score is: 0.673907
r2_score is: 0.765394
r2_score is: 0.763435
r2_score is: 0.584552
r2_score is: 0.640890

In [324]:
row_index=data.keys()

positive_counts=[]
mean_positive_scores=[]

for label_name in data.keys():
    new_data = data.drop([label_name], axis=1)
    milk=data[label_name]
    positive_scores=[]
    for i in xrange(0,100):
        # Split the data into training and testing sets using the given feature as the target
        X_train, X_test, y_train, y_test = train_test_split(new_data, milk, test_size=0.25, random_state=i)
        # Create a decision tree regressor and fit it to the training set
        regressor = DecisionTreeRegressor(random_state=0)
        regressor.fit(X_train,y_train)
        predict=regressor.predict(X_test)
        # Report the score of the prediction using the testing set
        score = r2_score(y_test,predict)
        if score>0:
            positive_scores.append(score)
    positive_scores=np.array(positive_scores)
    positive_counts.append((positive_scores>0).sum())
    if len(positive_scores)>0:
        mean_positive_scores.append(positive_scores.mean())
    else:
        mean_positive_scores.append(np.nan)

feature_relevancy_df=pd.DataFrame(index=data.keys(), columns=['mean_positive_score', 'numbers of positive scores'])
feature_relevancy_df['mean_positive_score']=mean_positive_scores
feature_relevancy_df['numbers of positive scores']=postive_counts
feature_relevancy_df

                  mean_positive_score  numbers of positive scores
Fresh                        0.057398                           3
Milk                         0.299537                          86
Grocery                      0.667112                         100
Frozen                       0.093876                           8
Detergents_Paper             0.694777                         100
Delicatessen                 0.183500                          18

In [330]:
data.Delicatessen.corr(data.Milk)

0.40636831617687164

In [331]:
data.Delicatessen.describe()

count      440.000000
mean      1524.870455
std       2820.105937
min          3.000000
25%        408.250000
50%        965.500000
75%       1820.250000
max      47943.000000
Name: Delicatessen, dtype: float64

In [332]:
data.Milk.describe()

count      440.000000
mean      5796.265909
std       7380.377175
min         55.000000
25%       1533.000000
50%       3627.000000
75%       7190.250000
max      73498.000000
Name: Milk, dtype: float64

In [333]:
data.Fresh.describe()

count       440.000000
mean      12000.297727
std       12647.328865
min           3.000000
25%        3127.750000
50%        8504.000000
75%       16933.750000
max      112151.000000
Name: Fresh, dtype: float64

In [326]:
print('the correlation between Grocery and Detergents_Paper is {:.4f}'.format(data.Grocery.corr(data.Detergents_Paper)))

the correlation between Grocery and Detergents_Paper is 0.9246

In [322]:
feature_relevancy_df=pd.DataFrame(index=data.keys(), columns=['mean_positive_score', 'numbers of positive scores'])
feature_relevancy_df['mean_positive_score']=mean_positive_scores
feature_relevancy_df['numbers of positive scores']=postive_counts

feature_relevancy_df

                  mean_positive_score  numbers of positive scores
Fresh                        0.057398                           3
Milk                         0.299537                          86
Grocery                      0.667112                         100
Frozen                       0.093876                           8
Detergents_Paper             0.694777                         100
Delicatessen                 0.183500                          18

                 mean_positive_score convergence time
Fresh                            NaN              NaN
Milk                             NaN              NaN
Grocery                          NaN              NaN
Frozen                           NaN              NaN
Detergents_Paper                 NaN              NaN
Delicatessen                     NaN              NaN

pandas.indexes.base.Index