In [335]:
import numpy as np
import pandas as pd
from IPython.display import display

In [336]:
data=pd.read_csv('customers.csv')
data.drop(['Region', 'Channel'], axis = 1, inplace = True)

# TODO: Select three indices of your choice you wish to sample from the dataset
indices = [3,100, 350]

# Create a DataFrame of the chosen samples
samples = pd.DataFrame(data.loc[indices], columns = data.keys()).reset_index(drop = True)
print "Chosen samples of wholesale customers dataset:"
display(samples)

Chosen samples of wholesale customers dataset:

   Fresh  Milk  Grocery  Frozen  Detergents_Paper  Delicatessen
0  13265  1196     4221    6404               507          1788
1  11594  7779    12144    3252              8035          3029
2   3521  1099     1997    1796               173           995

#  23/02/2017

In [338]:
log_data=np.log(data)
log_samples=np.log(samples)

In [361]:
log_data=np.log(data)
log_samples=np.log(samples)

outliers=np.array([])

data_zeros=pd.DataFrame(data=np.zeros(log_data.shape), columns=log_data.keys()).astype(np.int8)


# For each feature find the data points with extreme high or low values
for feature in log_data.keys():
    
    # Calculate Q1 (25th percentile of the data) for the given feature
    Q1 = np.percentile(log_data[feature], 25)
    
    # Calculate Q3 (75th percentile of the data) for the given feature
    Q3 = np.percentile(log_data[feature], 75)
    
    # Use the interquartile range to calculate an outlier step (1.5 times the interquartile range)
    step = 1.5*(Q3-Q1)
    
    # Display the outliers
    print "Data points considered outliers for the feature '{}':".format(feature)
    display(log_data[~((log_data[feature] >= Q1 - step) & (log_data[feature] <= Q3 + step))].index)

    feature_outliner_index=log_data[~((log_data[feature] >= Q1 - step) & (log_data[feature] <= Q3 + step))].index
    outliers=np.int16(np.union1d(outliner_index, feature_outliner_index.values))
    


print(len(outliers))
print(log_data.shape)

good_data = log_data.drop(log_data.index[outliers]).reset_index(drop = True)
print(good_data.shape)

Data points considered outliers for the feature 'Fresh':
Data points considered outliers for the feature 'Milk':
Data points considered outliers for the feature 'Grocery':
Data points considered outliers for the feature 'Frozen':
Data points considered outliers for the feature 'Detergents_Paper':
Data points considered outliers for the feature 'Delicatessen':
42
(440, 6)
(398, 6)

In [369]:
data_zeros=pd.DataFrame(data=np.zeros(log_data.shape), columns=log_data.keys()).astype(np.int8)

In [370]:
data_zeros

     Fresh  Milk  Grocery  Frozen  Detergents_Paper  Delicatessen
0        0     0        0       0                 0             0
1        0     0        0       0                 0             0
2        0     0        0       0                 0             0
3        0     0        0       0                 0             0
4        0     0        0       0                 0             0
5        0     0        0       0                 0             0
6        0     0        0       0                 0             0
7        0     0        0       0                 0             0
8        0     0        0       0                 0             0
9        0     0        0       0                 0             0
10       0     0        0       0                 0             0
11       0     0        0       0                 0             0
12       0     0        0       0                 0             0
13       0     0        0       0                 0             0
14       0     0        0       0                 0             0
15       0     0        0       0                 0             0
16       0     0        0       0                 0             0
17       0     0        0       0                 0             0
18       0     0        0       0                 0             0
19       0     0        0       0                 0             0
20       0     0        0       0                 0             0
21       0     0        0       0                 0             0
22       0     0        0       0                 0             0
23       0     0        0       0                 0             0
24       0     0        0       0                 0             0
25       0     0        0       0                 0             0
26       0     0        0       0                 0             0
27       0     0        0       0                 0             0
28       0     0        0       0                 0             0
29       0     0        0       0                 0             0
..     ...   ...      ...     ...               ...           ...
410      0     0        0       0                 0             0
411      0     0        0       0                 0             0
412      0     0        0       0                 0             0
413      0     0        0       0                 0             0
414      0     0        0       0                 0             0
415      0     0        0       0                 0             0
416      0     0        0       0                 0             0
417      0     0        0       0                 0             0
418      0     0        0       0                 0             0
419      0     0        0       0                 0             0
420      0     0        0       0                 0             0
421      0     0        0       0                 0             0
422      0     0        0       0                 0             0
423      0     0        0       0                 0             0
424      0     0        0       0                 0             0
425      0     0        0       0                 0             0
426      0     0        0       0                 0             0
427      0     0        0       0                 0             0
428      0     0        0       0                 0             0
429      0     0        0       0                 0             0
430      0     0        0       0                 0             0
431      0     0        0       0                 0             0
432      0     0        0       0                 0             0
433      0     0        0       0                 0             0
434      0     0        0       0                 0             0
435      0     0        0       0                 0             0
436      0     0        0       0                 0             0
437      0     0        0       0                 0             0
438      0     0        0       0                 0             0
439      0     0        0       0                 0             0

[440 rows x 6 columns]

In [360]:
log_data.ix[0:10]

        Fresh      Milk   Grocery    Frozen  Detergents_Paper  Delicatessen
0    9.446913  9.175335  8.930759  5.365976          7.891331      7.198931
1    8.861775  9.191158  9.166179  7.474205          8.099554      7.482119
2    8.756682  9.083416  8.946896  7.785305          8.165079      8.967504
3    9.492884  7.086738  8.347827  8.764678          6.228511      7.488853
4   10.026369  8.596004  8.881558  8.272571          7.482682      8.553525
5    9.149847  9.019059  8.542081  6.501290          7.492760      7.280008
6    9.403107  8.070594  8.850088  6.173786          8.051978      6.300786
7    8.933137  8.508354  9.151227  7.419980          8.108021      7.850104
8    8.693329  8.201934  8.731013  6.052089          7.447751      6.620073
9    8.700514  9.314070  9.845911  7.055313          8.912608      7.648740
10   8.121480  8.594710  9.470703  8.389360          8.695674      7.463937

In [341]:
np.percentile(log_data.Fresh, 25)

8.0480587022148189

In [342]:
data.Fresh.describe()

count       440.000000
mean      12000.297727
std       12647.328865
min           3.000000
25%        3127.750000
50%        8504.000000
75%       16933.750000
max      112151.000000
Name: Fresh, dtype: float64

In [6]:
data.head(5)

   Fresh  Milk  Grocery  Frozen  Detergents_Paper  Delicatessen
0  12669  9656     7561     214              2674          1338
1   7057  9810     9568    1762              3293          1776
2   6353  8808     7684    2405              3516          7844
3  13265  1196     4221    6404               507          1788
4  22615  5410     7198    3915              1777          5185

In [316]:
from sklearn.cross_validation import train_test_split
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import r2_score

# Make a copy of the DataFrame, using the 'drop' function to drop the given feature
# label_name='Milk'
label_name='Detergents_Paper'
new_data = data.drop([label_name], axis=1)
milk=data[label_name]

#set random state value
# rnd=[0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

for i in xrange(1,20):
    # Split the data into training and testing sets using the given feature as the target
    X_train, X_test, y_train, y_test = train_test_split(new_data, milk, test_size=0.25, random_state=i)

    # Create a decision tree regressor and fit it to the training set
    regressor = DecisionTreeRegressor(random_state=0)
    regressor.fit(X_train,y_train)
    predict=regressor.predict(X_test)

    # Report the score of the prediction using the testing set
    score = r2_score(y_test,predict)
    print("r2_score is: {:.6f}".format(score))

    
    
# score = r2_score()

r2_score is: 0.763469
r2_score is: 0.471750
r2_score is: 0.738271
r2_score is: 0.687602
r2_score is: 0.742095
r2_score is: 0.618489
r2_score is: 0.721305
r2_score is: 0.641173
r2_score is: 0.628466
r2_score is: 0.541088
r2_score is: 0.819053
r2_score is: 0.844247
r2_score is: 0.657834
r2_score is: 0.665179
r2_score is: 0.673907
r2_score is: 0.765394
r2_score is: 0.763435
r2_score is: 0.584552
r2_score is: 0.640890

In [324]:
row_index=data.keys()

positive_counts=[]
mean_positive_scores=[]

for label_name in data.keys():
    new_data = data.drop([label_name], axis=1)
    milk=data[label_name]
    positive_scores=[]
    for i in xrange(0,100):
        # Split the data into training and testing sets using the given feature as the target
        X_train, X_test, y_train, y_test = train_test_split(new_data, milk, test_size=0.25, random_state=i)
        # Create a decision tree regressor and fit it to the training set
        regressor = DecisionTreeRegressor(random_state=0)
        regressor.fit(X_train,y_train)
        predict=regressor.predict(X_test)
        # Report the score of the prediction using the testing set
        score = r2_score(y_test,predict)
        if score>0:
            positive_scores.append(score)
    positive_scores=np.array(positive_scores)
    positive_counts.append((positive_scores>0).sum())
    if len(positive_scores)>0:
        mean_positive_scores.append(positive_scores.mean())
    else:
        mean_positive_scores.append(np.nan)

feature_relevancy_df=pd.DataFrame(index=data.keys(), columns=['mean_positive_score', 'numbers of positive scores'])
feature_relevancy_df['mean_positive_score']=mean_positive_scores
feature_relevancy_df['numbers of positive scores']=postive_counts
feature_relevancy_df

                  mean_positive_score  numbers of positive scores
Fresh                        0.057398                           3
Milk                         0.299537                          86
Grocery                      0.667112                         100
Frozen                       0.093876                           8
Detergents_Paper             0.694777                         100
Delicatessen                 0.183500                          18

In [330]:
data.Delicatessen.corr(data.Milk)

0.40636831617687164

In [331]:
data.Delicatessen.describe()

count      440.000000
mean      1524.870455
std       2820.105937
min          3.000000
25%        408.250000
50%        965.500000
75%       1820.250000
max      47943.000000
Name: Delicatessen, dtype: float64

In [332]:
data.Milk.describe()

count      440.000000
mean      5796.265909
std       7380.377175
min         55.000000
25%       1533.000000
50%       3627.000000
75%       7190.250000
max      73498.000000
Name: Milk, dtype: float64

In [333]:
data.Fresh.describe()

count       440.000000
mean      12000.297727
std       12647.328865
min           3.000000
25%        3127.750000
50%        8504.000000
75%       16933.750000
max      112151.000000
Name: Fresh, dtype: float64

In [326]:
print('the correlation between Grocery and Detergents_Paper is {:.4f}'.format(data.Grocery.corr(data.Detergents_Paper)))

the correlation between Grocery and Detergents_Paper is 0.9246

In [322]:
feature_relevancy_df=pd.DataFrame(index=data.keys(), columns=['mean_positive_score', 'numbers of positive scores'])
feature_relevancy_df['mean_positive_score']=mean_positive_scores
feature_relevancy_df['numbers of positive scores']=postive_counts

feature_relevancy_df

                  mean_positive_score  numbers of positive scores
Fresh                        0.057398                           3
Milk                         0.299537                          86
Grocery                      0.667112                         100
Frozen                       0.093876                           8
Detergents_Paper             0.694777                         100
Delicatessen                 0.183500                          18

                 mean_positive_score convergence time
Fresh                            NaN              NaN
Milk                             NaN              NaN
Grocery                          NaN              NaN
Frozen                           NaN              NaN
Detergents_Paper                 NaN              NaN
Delicatessen                     NaN              NaN

pandas.indexes.base.Index